<h1> Create Todo </h1>
<%= form_with model: @todo, local: true do |f| %>
<%= render 'error', target: @todo %>
  <%= f.label :title %>
  <%= f.text_field :title %><br />

  <%= f.label :description %>
  <%= f.text_area :description %><br />

  <%= f.submit "Create" %>
<% end %>
<%= link_to "Back To Todo List", todos_path %>